html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

/* ----------Header---------- */

header {
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 0 175px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    align-items: center;
    margin-bottom: 100px;
}

.leftNav {
    font-size: 24px;
    font-weight: bold;
}

.lowerHead {
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
}

.leftLow {
    display: flex;
    flex-direction: column;
    flex-basis: 47%;
}

.head {
    font-size: 48px;
    font-weight: 800;
}

.para {
    margin-bottom: 15px;
}

button {

    height: auto;
    width: 120px;
    background-color: #3B82F6;
    padding: 8px 27px;
    font-size: 18px;
    border-radius: 0.5em;
    border: none;
    color: white;
    font-weight: 500;
}

.rightLow {
    display: flex;
    padding: 70px 50px;
    background-color: #6D747D;
    flex-basis: 40%;
    justify-content: center;
    align-items: center;

}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 18px;
}

a {
    text-decoration: none;
    color: inherit;
}

li,
.para {
    font-size: 18px;
    color: #E5E7EB;
}

/* -------First Section------- */

.firstSec {
    padding: 50px 175px 100px;
    text-align: center;
}

.infoHead {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 50px;
}

.boxSec {
    display: flex;
    justify-content: center;
}

.boxGro {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    align-items: center;
}

.box {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border: 4px solid #3B82F6;
    border-radius: 15px;
}

.boxCap {
    color: #545E6B;
    padding: 5px 25px 0;
}

/* -------Second Section------- */

.secondSec {
    padding: 100px 200px;
    background-color: #E5E7EB;
    color: #1F2937;
}

.secondSec>div {
    padding: 0 100px;
}

.quote {
    text-align: left;
    font-size: 34px;
    font-weight: 300;
    font-style: italic;
}

.quoter {
    text-align: right;
    font-size: 22px;
    font-weight: bold;
    margin-right: 50px;
}

/* -------Third Section------- */

.thirdSec {
    padding: 100px 175px;
}

.container {
    display: flex;
    background-color: #3882F6;
    padding: 50px 110px;
    border-radius: 10px;
    justify-content: space-between;
    color: white;
}

.container div div:nth-of-type(1) {
    font-size: 20px;
    font-weight: 600;
}

.container div div:nth-of-type(2) {
    font-weight: 100;
}

.container button {
    box-sizing: border-box;
    border: 2px solid white;
}